In [25]:
import pandas as pd
from geopy import distance
import numpy as np
import os

In [45]:

sectors = pd.read_csv('data/grafas.csv', sep=',', header=None)
sectors = sectors.sort_values(0)

neighbours = pd.DataFrame(columns=sectors[0].to_numpy())
neighbours.insert(0, 'id', None);
sectors

       0          1          2
1      1  54.729887  25.263412
0      2  54.729888  25.263374
2      3  54.729888  25.263393
3      4  54.729889  25.263326
4      5  54.729888  25.263350
..   ...        ...        ...
160  161  54.729968  25.263012
161  162  54.729952  25.263065
162  163  54.729968  25.263065
163  164  54.729878  25.262706
164  165  54.729863  25.262705

[165 rows x 3 columns]

In [50]:
new_row = list()

for i_index, i_row in sectors.iterrows():
    new_row = list()
    new_row.append('{:.0f}'.format(i_row[0]))
    coords_1 = (i_row[1], i_row[2])
    
    for j_index, j_row in sectors.iterrows():
        coords_2 = (j_row[1], j_row[2])
        new_row.append(round(distance.distance(coords_1, coords_2).m, 2))
    neighbours.loc[i_index] = new_row

In [51]:
neighbours.to_csv('my_data/distance_between_sector.csv', index = False)